
body {

    background-image: url(../Assets/dracula-wallpaper.jpg);
  
}

#conteiner {
 
    background-color: rgba(60, 0, 0, 0.5); 
     border: 8px solid #320000;
}



h1{
    color: darkred;
    text-shadow: 5px 5px 4px black;
}

