*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    min-height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    height: 100vh;
    background-image: url(../Assets/fundo_cemiterio1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#conteiner {
    width: 50vw;
    min-height: 100vh;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7); 
    border: 8px solid black;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
}

@font-face {
            font-family: 'creepy';
            src: url('Creepy Blood.otf') formart('opentype');
        }


h1{
    font-family: 'creepy';
    color: darkred;
}

main {
    display: flex;
    flex-direction: column;
}

main p {
    color: white;
    font-family: 'Tapestry', cursive;
    font-size: 20px;
    font-weight: 100;
    width:85%;
    margin: auto;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

figure label {
    color: white;
    
}
main h2{
    font-family: 'Tapestry', cursive;
    font-weight: 600;
    font-size: 30px;
    color: white;
    margin: 2% auto 10% auto;
}

#personagens {
    display: flex;
    flex-direction: row;
    padding: 0;
    
}

#personagens figure {
    width: 100%;
    padding: 0;
    margin:auto;
}
#personagens figure img{
      width: 100%;
      object-fit: contain;
    min-height: 194.93;
}

@media screen and (max-width: 600px)
{
#conteiner 
    {
        width: 98%;
    }

main p {
 font-size: 18px;       
    }

main h2 {
font-size: 20px;        
    }
    
#personagens
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
#personagens figure 
    {
        text-align: center;
    }
#personagens figure img
    {
      width: 40%;
      object-fit: contain;
    }
}